<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DeepRev</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
</head>
<body ng-app="myApp" ng-cloak style="background-color: #efefef" ng-controller="myCtrl" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1 class="md-body-2" style="font-size:40px;color:white">DeepRev</h1>
        <!--span ng-style="myObj">DeepRev</span>-->
    </div>
  </md-toolbar>
  <md-content flex style="width:800">
    <!--md-card>-->
      <!--md-card-content>
        <p><em>Let's see what's wrong with this product!</em></p>
       </md-card-content>-->
    <!--/md-card>-->
    <md-card>
      <md-card-content>
        <!--div layout="row" layout-align="space-between center">-->
        <span>Let's have a closer look at the critical reviews here, shall we?</span>
        <div layout-gt-sm="row">
          <!--span>Enter URL:</span>-->
            <md-input-container class="md-block" flex-gt-sm>
                <label>Chewy URL</label>
                <!--md-input-container>-->
                <input type="text" ng-model="data.url">
            </md-input-container>
        </div>
      </md-card-content>
      <md-card-actions layout="column" layout-align="end center">
        <md-button ng-click="submit()" class="md-accent md-raised">Let's Go!</md-button>
      </md-card-actions>
    </md-card> 
    <md-card>
    <md-tabs class="md-primary" md-center-tabs>
        <md-tab label="Health" class="md-accent md-raised"> 
            <md-content class="md-padding">
                <h2 class="md-display-1">Health</h2>
                    <span>{: result.Health[0] :}% out of {: result.len :} critical reviews</span>
                    <p class="md-body-1">{: result.Health[1] :}
                    </p>
            </md-content>
        </md-tab>
        <md-tab label="Quality">
            <md-content class="md-padding">
                <h2 class="md-display-1">Quality</h2>
                    <span>{: result.Quality[0] :}% out of {: result.len :} critical reviews </span>
                    <p class="md-body-1">{: result.Quality[1] :}
                    </p>
            </md-content>
        <md-tab label="Service">
            <md-content class="md-padding">
                <h2 class="md-display-1">Service</h2>
                    <span>{: result.Service[0] :}% out of {: result.len :} critical reviews</span>
                    <p class="md-body-1">{: result.Service[1] :}
                    </p>
            </md-content>
        </md-tab>
    </md-tabs>
  </md-content>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>

  <script>
    var app = angular.module('myApp', ['ngMaterial']);
    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{:');
      $interpolateProvider.endSymbol(':}');
    }]);
    app.config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('pink', {
            'default':'800',
            'hue-1':'600',
            'hue-2':'400',
            'hue-3':'A200'
        })
        .accentPalette('orange');
    });
    app.controller('myCtrl', ['$scope', '$http',
      function($scope, $http) {
        $scope.data = {};
        $scope.submit = function() {
          $scope.result = "Wait...";
          $http({
            method : 'POST',
            url : '/api/predict',
            data: $scope.data
          }).success(function(data, status, headers, config) {
            $scope.result = data.result;
          }).error(function(data, status, headers, config) {
            $scope.result = 'Error';
          });
        }
      }
    ]);
  </script>
</body>
</html>
